/* Universal Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Split-layout Styles for index.html */

body.split-layout {
    display: flex;
    margin: 0;
    height: 100vh;
}

.split-left, .split-right